.cours {
	padding: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;
}

.cours h5 {
	background-color: var(--couleur-tertiaire);
	color: var(--couleur-arriere-evenement);
	transform: rotate(-5deg);
}
.cours h6 {
	transform: rotate(-5deg);
	padding: 0.5rem;
	color: var(--couleur-evenement);
	background-color: var(--couleur-arriere-evenement);
}

.carte {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 0 1 20%;
}

.carte p {
	font-size: 0.5em;
	transform: rotate(-5deg);
	color: var(--couleur-tertiaire);
}
